*{
	margin: 0;
	padding: 0;
}

.inner1 {
  	margin: 0  auto;
  	width: 100%; /* Altere para o valor da largura desejada. */
}

.inner2{
	margin-top: 20%;
}
.listAnos{
	width: 1200px;
	height: 100px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	align-items: center;
}


.listAnos .anos{
	list-style-type: none;
	float: left;
	margin-left: 10px;
}

.text{
	padding: 0px;
	text-align: justify;
	/*height: 400px;*/
	margin-left: 0px;

	/*background-color: grey;*/
}

/*Conjunto de campus*/
.campus{
		position: absolute;
		margin-left: 4.6%;
		max-width: 1032px;
		height: 200px;
		border-style: solid;
		border-width: 10px;
		text-align: center;
		align-items: center;
}

/*divide um campus*/
.divCampus{
	position: relative;
	min-width: 300px;
	/*height: 190px;*/
	font-size: 20px;
	/*background-color: rgba(191, 191, 191, 0.75);*/
	border:1px solid #000000;
	margin-left: 25px;
	margin-right: 15px;
	float: left;	
}

.divTop{
	width: 280px;
	height: 50px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10px;
	margin-bottom: 3px;
	/*margin: 0px;*/
	/*padding-top: 10px;*/
	background-color: rgba(128, 128, 128, 0.5);
}

.divLeft{
	position: relative;
	max-width: 138px;	/*mudar para 138%*/
	height: 100px;
	background-color: rgba(217, 217, 217,0.85);			/*rgba(217, 217, 217,0.85)*/
	border:4px solid #000000;
	margin-left: 5%;	/*mudar para 5%*/
	margin-right: 1%;	/*mudar para 1%*/
	margin-top: 1%;
	float: left;
}


.divRight{
	position: relative;
	max-width: 138px;
	height: 100px;
	background-color: rgba(217, 217, 217,0.85);
	border:4px solid #000000;
	margin-top: 1%;
	float: left;
}

.campos .cursos .vagas{
	color: black;
	font-size: 18px
}

.home a{
	cursor: pointer;
	opacity: 0.7;
	position: fixed;
	width: 40px;
	height: 40px;
}

/*
    position: fixed;
    width: 110px;
    height: 110px;
    z-index: 30;
    right: 45%;
    bottom: 10px;
*/

/*
.listAnos{
	list-style-type: none;margin: 0;padding: 0;overflow: hidden;
}
.listAnos.anos{
	float: left;margin-left: 10px;
}

  style="font-color:black;" tentar fazer no markdown
*/